{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}¬

{% block head %}
<link href="{{ url_for('static', filename='css/dropzone.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/dropzone-override.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">

   <div class="page-header">
      <h1>Submit images <small>of officers in uniform. Law enforcement officer faces, and either a badge number or name, should be clearly visible in each photograph.</small></h1>
   </div>

   <div class="header">
      <h3>What happens when I submit a photograph?</h3>
      <p class="small">The next step after a photograph of an officer has been submitted is to match it to the correct badge number, name, and OpenOversight ID (a unique identifier in our system). Volunteers <a href="https://openoversight.com/label">sort through submitted images</a> by first confirming that officers are present in each photograph, and then by matching each photograph to the officer it depicts.</p>
   </div>
   <div class="form-group">
      <form class="dropzone" id="my-cop-dropzone">
         <h3>Select the department or departments that the police officer(s) in your image belongs to:</h3>
         {% for subform in form.departments %}
         {% with id="js-dept", number=loop.index %}
         {% include "partials/subform.html" %}
         {% endwith %}
         {% endfor %}
         <button class="btn btn-success js-add-another-button" disabled>Add another department</button>
         <br>
         <div><h3>Drop images here to submit photos of officers:</h3>
            <p class="small">Drag photographs from your computer directly into the box above or click the box to launch a finder window. If you are on mobile, you can click the box above to select pictures from your photo library or camera roll.</p>
            <div class="dropzone-previews"></div>
         </div>
            <br>
         <button type="submit">Submit image(s)</button>
         {{ form.hidden_tag() }}
      </form>
   </div>



      <script src="{{ url_for('static', filename='js/addButtons.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>


      <script>

         Dropzone.options.myCopDropzone = { // The camelized version of the ID of the form element

            // The configuration we've talked about above
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 50,
            method: "post",
            url: "/upload/department",
            acceptedFiles: "image/png, image/jpeg, image/gif, image/jpg",
            maxFiles: 50,
            headers: {
               'X-CSRFToken': $('meta[name="token"]').attr('content')
            },

            // The setting up of the dropzone
            init: function() {
               var myDropzone = this;

               // First change the button to actually tell Dropzone to process the queue.
               this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                  // Make sure that the form isn't actually being sent.
                  e.preventDefault();
                  e.stopPropagation();
                  myDropzone.processQueue();
               });

               // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
               // of the sending event because uploadMultiple is set to true.
               this.on("sendingmultiple", function() {
                  // Gets triggered when the form is actually being sent.
                  // Hide the success button or the complete form.
               });
               this.on("successmultiple", function(files, response) {
                  // Gets triggered when the files have successfully been sent.
                  // Redirect user or notify of success.
               });
               this.on("errormultiple", function(files, response) {
                  // Gets triggered when there was an error sending the files.
                  // Maybe show form again, and notify user of error
               });
            }

         }

      </script>
</div>

<div class="container">
   <h3>High Security Submissions</h3>
   <p class="small">We do not log unique identifying information of visitors to our website, but if you have privacy concerns in submitting photographs, we recommend using <a href="https://www.torproject.org/projects/torbrowser.html.en">Tor Browser.</a> For very high security submissions of photos or videos, you can use an anonymous dropbox called SecureDrop (launch instructions below). All files that we receive through SecureDrop are <a href="https://mat.boum.org/">scrubbed of metadata.</a></p>
   <a href="https://lucyparsonslabs.com/securedrop"><img src="{{url_for('static', filename='images/securedrop.png')}}"/> Launch SecureDrop Instructions</a>
</div>

{% endblock %}
